<a href="https://colab.research.google.com/github/yain22/Data-manipulation-with-R-and-Python/blob/master/Data_Manipulation_Tools_dplyr.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Data Manipulation Tools: dplyr 
(https://www.youtube.com/watch?v=Zc_ufg4uW4U&list=PLNFT8B-1R8yU4uxEmbJlBLaJUhkyh3E_c&index=3&t=931s)

In [ ]:
install.packages("dplyr") ; library("dplyr")
install.packages("tidyverse") ; library("tidyverse")

# Data sets related to flights that departed from NYC in 2013
install.packages("nycflights13") ; library("nycflights13")

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)


Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union


Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ tibble  3.0.3     ✔ purrr   0.3.4
✔ tidyr   1.1.1     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.5.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

# Key function in package "dplyr":
1.   Extract existing variables : select()                      
2.   Extract existing observations : filter()
3.   Derive new variables (from existing variables): mutate()
4.   Change the unit of analysis : summarise()

# Examples of select()

In [ ]:
head(select(storms, name, pressure))

  name pressure
1 Amy  1013
2 Amy  1013
3 Amy  1013
4 Amy  1013
5 Amy  1012
6 Amy  1012

In [ ]:
head(select(storms, -pressure))

  name year month day hour lat  long  status              category wind
1 Amy  1975 6     27   0   27.5 -79.0 tropical depression -1       25
2 Amy  1975 6     27   6   28.5 -79.0 tropical depression -1       25
3 Amy  1975 6     27  12   29.5 -79.0 tropical depression -1       25
4 Amy  1975 6     27  18   30.5 -79.0 tropical depression -1       25
5 Amy  1975 6     28   0   31.5 -78.8 tropical depression -1       25
6 Amy  1975 6     28   6   32.4 -78.7 tropical depression -1       25
  ts_diameter hu_diameter
1 NA          NA
2 NA          NA
3 NA          NA
4 NA          NA
5 NA          NA
6 NA          NA

In [ ]:
head(select(storms, day:pressure))

  day hour lat  long  status              category wind pressure
1 27   0   27.5 -79.0 tropical depression -1       25   1013
2 27   6   28.5 -79.0 tropical depression -1       25   1013
3 27  12   29.5 -79.0 tropical depression -1       25   1013
4 27  18   30.5 -79.0 tropical depression -1       25   1013
5 28   0   31.5 -78.8 tropical depression -1       25   1012
6 28   6   32.4 -78.7 tropical depression -1       25   1012

# Examples of filter()

In [ ]:
head(filter(storms, wind >=50)) # Logical test for the variable wind

  name year month day hour lat  long  status         category wind pressure
1 Amy  1975 6     29  18   33.8 -72.8 tropical storm 0        50   998
2 Amy  1975 6     30   0   34.3 -71.6 tropical storm 0        50   998
3 Amy  1975 6     30   6   35.6 -70.8 tropical storm 0        55   998
4 Amy  1975 6     30  12   35.9 -70.5 tropical storm 0        60   987
5 Amy  1975 6     30  18   36.2 -70.2 tropical storm 0        60   987
6 Amy  1975 7      1   0   36.2 -69.8 tropical storm 0        60   984
  ts_diameter hu_diameter
1 NA          NA
2 NA          NA
3 NA          NA
4 NA          NA
5 NA          NA
6 NA          NA